#img-modal {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#img-modal:hover {opacity: 0.7;}

/* The Modal (background) */
.img-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2000; /* Sit on top */
	padding-top: 5%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.img-modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 23%;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 11%;
}

/* Add Animation */
.img-modal-content, #caption {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.img-modal-content {
		width: 100%;
	}
}
.btn-stock-action:hover{
    cursor: pointer;
    color: rgba(0, 0, 255, 0.5) !important;
}

.home-stock-card:hover{
    color: blue;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

/* #Primary
================================================== */

.section {
	position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.over-hide {
	overflow: hidden;
}

.z-bigger {
	z-index: 100 !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: 100 !important;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 35px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
}

.checkbox-amountReload:checked + label,
.checkbox-amountReload:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 150px;
	font-size: 30px;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	-webkit-text-stroke: 1px var(--white);
	text-stroke: 1px var(--white);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
}
.checkbox-amountReload:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-amountReload:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
}
.checkbox-amountReload:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-amountReload:checked + label::before,
.checkbox-amountReload:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(138deg, var(--red), var(--yellow));
	z-index: -1;
}
.checkbox-amountReload:checked + label span,
.checkbox-amountReload:not(:checked) + label span{
	position: relative;
	display: block;
}
.checkbox-amountReload:checked + label span::before,
.checkbox-amountReload:not(:checked) + label span::before{
	position: absolute;
	content: attr(data-hover);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-text-stroke: transparent;
	text-stroke: transparent;
	-webkit-text-fill-color: var(--white);
	text-fill-color: var(--white);
	color: var(--white);
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}
.checkbox-amountReload:not(:checked) + label span::before{
	max-height: 0;
}
.checkbox-amountReload:checked + label span::before{
	max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-amountReload:not(:checked) + label{
	background-color: var(--light);
	-webkit-text-stroke: 1px var(--dark-blue);
	text-stroke: 1px var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.recharge-shadow-box{
	background-color: #FFF;
	padding-top: 70px;
	padding-bottom: 70px;
	border-radius: 20px;
}
.cart-delete:hover{
	cursor: pointer;
	color: rgba(255, 0, 0, 0.5) !important;
}

.cart-nav:hover{
	color: rgba(103, 116, 142, 0.7) !important;
}

.vertical-line-nav{
	display: inline-block;
	border-left: 1px solid #c9c9c9;
	margin: 0 15px;
	height: 40px;
}

input.quantity-field,
textarea.quantity-field,
input.button-minus,
input.button-plus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"].quantity-field,
input[type="button"].button-minus,
input[type="button"].button-plus {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #fff;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  /* position: relative; */
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

input[type="number"].quantity-field {
	-moz-appearance: textfield;
	-webkit-appearance: none;
}
/* .button-plus {
  left: -13px;
} */

input[type='checkbox'].checkboxCart {
	--active: #275efe;
	--active-inner: #fff;
	--focus: 2px rgba(39, 94, 254, .3);
	--border: #bbc1e1;
	--border-hover: #275efe;
	--background: #fff;
	--disabled: #f6f8ff;
	--disabled-inner: #e1e6f9;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 21px;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	cursor: pointer;
	border: 1px solid var(--bc, var(--border));
	background: var(--b, var(--background));
	transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
input[type='checkbox'].checkboxCart:after{
	content: '';
	display: block;
	left: 0;
	top: 0;
	position: absolute;
	transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}
input[type='checkbox'].checkboxCart:checked{
	--b: var(--active);
	--bc: var(--active);
	--d-o: 0.3s;
	--d-t: 0.6s;
	--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
input[type='checkbox'].checkboxCart:focus {
	box-shadow: 0 0 0 var(--focus);
}
input[type='checkbox'].checkboxCart {
	width: 21px;
}
input[type='checkbox'].checkboxCart:after {
	opacity: var(--o, 0);
}
input[type='checkbox'].checkboxCart:checked{
	--o: 1;
}
input[type='checkbox'].checkboxCart {
	border-radius: 7px;
}
input[type='checkbox'].checkboxCart:after {
	width: 5px;
	height: 9px;
	border: 2px solid var(--active-inner);
	border-top: 0;
	border-left: 0;
	left: 7px;
	top: 4px;
	transform: rotate(var(--r, 20deg));
}
input[type='checkbox'].checkboxCart:checked {
	--r: 43deg;
}

.rate {
    float: left;
    height: 46px;
	padding: 0;
    line-height: 25px;
}

.rate label {
	margin-left: 0;
}

.rate:not(:checked) > input {
    position:absolute;
	z-index: -1;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* display rating */
.rate-display {
	display: block;
	padding: 0;
    line-height: 25px;
}

.rate-display label {
	margin-left: 0;
    width:20px;
    overflow:hidden;
    white-space:nowrap;
    font-size:25px;
    color:#ccc;
}
.rate-display label {
	color: #ffc700;    
}
.rate-display label:before {
	content: '★ ';
}
.rate-display label.checked ~ label {
    color: #ccc;    
}