.btn-stock-view{
    letter-spacing: normal;
    box-sizing: border-box;
    margin-bottom: 0;
    background-color: green;
    border: 1px solid green !important;
    padding: .5rem 1rem !important;
}

.btn-stock-view:hover{
    color: green;
    background-color: white;
    border: 1px solid green;
}

.btn-stock-action:hover{
    cursor: pointer;
    color: rgba(0, 0, 255, 0.5) !important;
}

